<form name="alunoForm">
  <!-- Nome-->
  <div class="form-group">
    <label for='Nome'> Nome:</label>
    <input type='text' ng-model="aluno.nome" name="nome" class="form-control"  placeholder="Nome" ng-minlength="3" ng-maxlength="25">
    <div>
      <div ng-show="alunoForm.nome.$error.required && alunoForm.nome.$dirty" class="alert alert-danger">
        Por favor, preencha o campo Nome!
      </div>
      <div ng-show="alunoForm.nome.$error.minlength" class="alert alert-info">
        Campo Nome deve ter o tamanho mínimo de 3 letras
      </div>
      <div ng-show="alunoForm.nome.$error.maxlength" class="alert alert-info">
        Campo Nome deve ter o tamanho máximo de 25 letras
      </div>
    </div>
  </div>
  <!-- Matricula-->
  <div class="form-group">
    <label for='Matricula'> Matrícula:</label>
    <input type='text' ng-model='aluno.matricula' name="matricula" class="form-control" ng-required="true" placeholder="Matricula" ng-minlength="12" ng-maxlength="12">
    <div>
      <div ng-show="alunoForm.matricula.$error.required && alunoForm.matricula.$dirty" class="alert alert-danger">
        Por favor, preencha o campo Matricula!
      </div>
      <div ng-show="alunoForm.matricula.$error.minlength" class="alert alert-info">
        Atenção, o campo Matrícula deve ter o tamanho mínimo de 12 caracteres!
      </div>
      <div ng-show="alunoForm.matricula.$error.maxlength" class="alert alert-info">
        Atenção, o campo Matrícula deve ter o tamanho máximo de 12 caracteres!
      </div>
    </div>
  </div>
  <!-- CPF-->
  <div class="form-group">
    <label for='CPF'> CPF: </label>
    <input type='text' ng-model='aluno.cpf' name="cpf" class="form-control" ng-required="true" placeholder="CPF" ng-minlength="11" ng-pattern="/^\d{3}.\d{3}.\d{3}-\d{2}$/">
    <div>
      <div ng-show="alunoForm.cpf.$error.required && alunoForm.cpf.$dirty" class="alert alert-danger">
        Por favor, preencha o campo CPF!
      </div>
      <div ng-show="alunoForm.cpf.$error.minlength" class="alert alert-info">
        Atenção, o campo CPF deve ter o tamanho mínimo de 11 caracteres!
      </div>
      <div ng-show="alunoForm.cpf.$error.pattern && alunoForm.cpf.$dirty" class="alert alert-info">
        Atenção, o formato do campo CPF deve ser "xxx.xxx.xxx-xx"!
      </div>
    </div>
  </div>
  <!-- Nascimento-->
  <div class="form-group">
    <label for='Nascimento'> Nascimento: </label>
    <input type='date' ng-model='aluno.nascimento' name="nascimento" class="form-control" ng-required="true" placeholder="Nascimento" ng-pattern="/^\d{4}-\d{2}-\d{2}$/">
    <div>
      <div ng-show="alunoForm.nascimento.$error.required && alunoForm.nascimento.$dirty" class="alert alert-danger">
        Por favor, preencha o campo Nascimento!
      </div>
      <div ng-show="alunoForm.nascimento.$error.pattern && alunoForm.nascimento.$dirty" class="alert alert-info">
        Atenção, o formato do campo nascimento deve ser "ano-mes-dia"!
      </div>
    </div>
  </div>
  <!-- Endereco-->
  <div class="form-group">
    <label for='id_endereco'> Número de identificação do Endereço </label>
    <input type='text' ng-model='aluno.id_endereco' name="id_endereco" class="form-control" ng-required="true" placeholder="Endereço">
    <div>
      <div ng-show="alunoForm.id_endereco.$error.required && alunoForm.id_endereco.$dirty" class="alert alert-danger">
        Por favor, preencha o campo Endereço!
      </div>
    </div>
  </div>
  <!-- Curso-->
  <div class="form-group">
    <label for='id_curso'> Número de identificação do Curso </label>
    <input type='text' ng-model='aluno.id_curso' name="id_curso" name="id_curso" class="form-control" ng-required="true" placeholder="Curso">
    <div>
      <div ng-show="alunoForm.id_curso.$error.required && alunoForm.id_curso.$dirty" class="alert alert-danger">
        Por favor, preencha o campo Curso!
      </div>
    </div>
  </div>
  <!-- Botões -->
  <button ng-click="cadastrar()" type="button" name="Cadastrar" value="Cadastrar" class="btn btn-outline-light btn-block" ng-disabled="alunoForm.$invalid">Cadastrar</button><br>
</form>
