        <form  name="professorForm">
          <!-- Nome -->
          <div class="form-group">
            <label for='nome'>Nome:</label>
            <input type='text' ng-model='professor.nome' name='nome' class="form-control"  ng-minlength="15" ng-maxlength="40">
            <div ng-show="professorForm.nome.$error.required && professorForm.nome.$dirty" class="alert alert-danger">
              Preencha o campo professor
            </div>
            <div ng-show="professorForm.nome.$error.minlength && professorForm.nome.$dirty" class="alert alert-danger">
              Nome do professor com no mínimo 15 letras
            </div>
            <div ng-show="professorForm.nome.$error.maxlength && professorForm.nome.$dirty" class="alert alert-danger">
              O nome do professor deve ter no máximo 40 letras
            </div>
          </div>

          <div class="form-group">
            <label for="id_endereco">Endereço: </label>
            <input type="text" class="form-control" name="id_endereco" ng-model="professor.id_endereco" placeholder="ID endereço" ng-required="true">

            <div ng-messages="escolaform.id_endereco.$error" ng-if='escolaform.id_endereco.$dirty'>
        			<div ng-message="required" class="alert alert-danger">
        				Por favor, preencha o campo ID endereço!
        			</div>
        		</div>
          </div>
          <button ng-click="cadastrar()" type="button" name="Cadastrar" value="Cadastrar" class="btn btn-outline-light btn-block" ng-disabled="professorform.$invalid">Cadastrar</button><br>
        </form>
